# <center>Basic Missing Value Imputation</center>

In [2]:
import pandas as pd

In [3]:
temps = pd.DataFrame({
    "sequence": [1,2,3,4,5],
    "measurement_type": ['actual','actual','actual', None, 'estimated'],
    "temperature_f": [67.24, 84.56, 91.61, None, 49.64]
    })
temps

   sequence measurement_type  temperature_f
0         1           actual          67.24
1         2           actual          84.56
2         3           actual          91.61
3         4             None            NaN
4         5        estimated          49.64

In [4]:
## using isna() and count() to identify null values in a dataframe

In [7]:
temps.isna()

   sequence  measurement_type  temperature_f
0     False             False          False
1     False             False          False
2     False             False          False
3     False              True           True
4     False             False          False

In [8]:
temps.isna().count()

sequence            5
measurement_type    5
temperature_f       5
dtype: int64