In [12]:
import numpy as np
import pandas as pd

## <center>Working With String</center>

In [13]:
names = pd.Series(['Rojit Manandhar', 'Elon Musk', 'Bill Gates', 'Larry Page'])
names

0    Rojit Manandhar
1          Elon Musk
2         Bill Gates
3         Larry Page
dtype: object

In [14]:
# Replacing 
names = names.str.replace(' ', '-')
names

0    Rojit-Manandhar
1          Elon-Musk
2         Bill-Gates
3         Larry-Page
dtype: object

In [15]:
# counting length
names.str.len()

0    15
1     9
2    10
3    10
dtype: int64

In [16]:
# converting to lower case
names = names.str.lower()
names

0    rojit-manandhar
1          elon-musk
2         bill-gates
3         larry-page
dtype: object

In [17]:
type(names[0])

str

In [18]:
# string split , similar to core python
names = names.str.split('-')
names

0    [rojit, manandhar]
1          [elon, musk]
2         [bill, gates]
3         [larry, page]
dtype: object

In [19]:
# now converts the data type to list
type(names[0])

list

In [9]:
# swap the order of firstname and lastname using list comprehension
names = pd.Series([ i[::-1] for i in names])
names

0    [manandhar, rojit]
1          [musk, elon]
2         [gates, bill]
3         [page, larry]
dtype: object

In [20]:
# join the list 
names = [' '.join(i) for i in names]
names

['rojit manandhar', 'elon musk', 'bill gates', 'larry page']